.section__hero {
  padding-top: 40px;
  padding-bottom: 70px;
  color: #ffffff;
  background-image: url('../../img/hero/hero2560.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hero__container {
  padding: 0 16px;
}

.hero__title {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 20px;
}

.hero__text {
  margin-bottom: 32px;
}

.button {
  padding: 8px 20px;
  color: #000000;
  background-color: #f4e041;
  cursor: pointer;
  border: none;
  border-radius: 80px;
}

.button:hover {
  background-color: #ffe302;
}

@media screen and (min-width: 768px) {
  .section__hero {
    padding: 90px 0;
  }
  .hero__container {
    padding: 0 194px;
  }
}

@media screen and (min-width: 1024px) {
  .section__hero {
    padding: 164px 0;
  }
  .hero__container {
    padding: 0 322px;
  }
}

@media screen and (min-width: 2560px) {
  .hero__container {
    padding: 0 395px;
  }
}
