.header {
  background-color: #ffffff;
  border-bottom: 1px solid #80808062;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  padding: 13px 16px;
}

.container__logo {
}

.container__button {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logo__icon {
  height: 26px;
  width: 26px;
}

.logo__text {
  height: 11px;
  width: 64px;
}

.button {
  padding: 8px 20px;
  color: #000000;
  background-color: #f4e041;
  cursor: pointer;
  border: none;
  border-radius: 80px;
}

.button:hover {
  background-color: #ffe302;
}

.button:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding: 13px 32px;
  }
}

@media screen and (min-width: 1024px) {
  .header__container {
    padding: 13px 60px;
  }
}

@media screen and (min-width: 2560px) {
  .header__container {
    padding: 13px 0;
  }
}
