.section {
  padding: 140px 16px 0;
  background-color: #e5e5e5;
}

.button {
  padding: 8px 20px;
  color: #000000;
  background-color: #f4e041;
  cursor: pointer;
  border: none;
  border-radius: 80px;
}

.button:hover {
  background-color: #ffe302;
}

.contacts__title {
  margin-bottom: 50px;
  font-size: 40px;
  line-height: 1;
}

.contacts__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

/* * MEDIA */

@media screen and (min-width: 768px) {
  .section {
    padding: 140px 32px 0;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 140px 60px 0;
    text-align: center;
  }
}

@media screen and (min-width: 2560px) {
  .section {
    padding: 140px 0 0;
    text-align: center;
  }
}
